.App {
  text-align: center;
}

.GetStarted {
  display: flex;
  justify-content: space-around;  
  background-color: #2b3137;
  height: 90vh;
}
.GetStarted > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.Enterprise {
  display: flex;
  margin: 5%;
}
.Enterprise > div {
  margin: 3%;
}
.CardComponent {
  width: '18rem'
}
.IntroCard {
  color: white;
  margin: 80%;
}
.Businesses {
  margin: 5% auto;
  width: 70%;

}
.Businesses p {
  margin: 0;
}
.Businesses img {
  width: 40px; 
  margin: 0 50px;

}
.Robot  {
  display: flex;
  align-items: center;
  text-align: left;
  
}
.Robot > div {
  width: 40%;
  display: flex;
  flex-direction:  column;
  justify-content: space-around;
  height: 80vh;

}

.Robot h1 {
  font-size: 1em;
}
.CardGallery {
  margin: 5% 0;
}
.CardGallery > div {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.CodeSecurity {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  width: 90%;
}
.CodeSecurity > img {
  width: 40%;
}
.CodeSecurity > div {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.CodeSecurity  h1 {
  font-size: 1.4em;
}
.ImgGallery {
  width: 90%;
  margin: 0 auto;
  height: 40vh;

}
.ImgGallery > img {
  width: 120px;
  border-radius: 100%;
}
.ImgGallery > img:nth-child(even) {
  margin-top: 12%;
}
.DeveloperGallery {
  display: flex;
  justify-content: space-around;
}
.SignUpForm {
  color: white;
  background-color: #24292e;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.SignUpForm > div  {
  width: 70%;
  margin: 10% auto;
}